<div class="text-left">
  <div>
    <a class="font-bold text-base text-[#333] hover:text-red" href="https://www.rammount.com/mount-builder?utm_source=gcse&amp;utm_medium=web&amp;utm_campaign=internal_search&amp;utm_term=zzz">Mount Builder | RAM® Mounts</a>
  </div>
  <div class="text-sm text-[#333]">Find a mounting solution for your device, vehicle and mounting location.<br>
   <a class="text-red" href="https://www.rammount.com/pages/mount-builder?utm_source=gcse&amp;utm_medium=web&amp;utm_campaign=internal_search&amp;utm_term=zzz">https://www.rammount.com/mount-builder</a>
   <br>
    <img src="https://cdn.shopify.com/s/files/1/0593/5346/4982/files/search-mount-builder.png?v=1650649010" alt="Mount Builder | RAM® Mounts">
  </div>
</div>
