<div class="border solid border-[#dcdcdc] mr-4 p-4 mt-4 rounded">
  <a href="{{settings.ram_mount_url}}" class="black flex justify-center items-center text-lg font-medium hover:text-red ">
      <img class="w-12 h-12 mr-4 object-contain" src="{{ 'wrench.svg' | asset_url }}" />
      <div>{{settings.ram_mount_help_text}}</div>
  </a>
</div>
