<div data-api-content>

  <div class="font-heading font-medium text-lg md:text-xl mb-10 pt-4 md:pt-0">
        <h2 data-heading ></h2>
  </div>
  <div id="image-list" class="flex justify-center flex-wrap">
        <a data-type="" class="group cursor-pointer w-1/2 md:w-1/4 mb-4 px-2 md:px-0">
          <div>
              <div class="image-container w-full text-center mb-2">
                <img data-img class="m-auto" src="https://www.rammount.com/images/bundler/devices/phone.jpg" />
              </div>
              <div class="text-center  font-medium ">
                  <p data-title class="min-w-[70%] inline-block pb-2 transition-all border-b-2 border-transparent group-hover:border-red border-transparent text-lg md:text-xl">Test</p>
              </div>
          </div>
        </a>
  </div>

</div>
