<div data-api-content>
  <div class="font-heading font-medium text-lg md:text-xl mb-10 pt-4 md:pt-0">
        <h2 data-heading ></h2>
  </div>
   <div id="dd-selectors" class="grid gap-x-4 md:grid-cols-3 grid-cols-1 justify-around flex-wrap">
      <dd-selector data-selector class="relative ">

      <div data-value class="text-left input w-full mb-4 md:mb-0 block min-h-[35px] cursor-pointer">Select</div>
      <div data-search class="text-left mb-4 md:mb-0  left-0 w-full static top-full bg-white z-50 border-0 border-solid border border-[#eee] overflow-hidden" >
            <div class="p-1">
                  <input data-input class="text-left search__field w-full h-[35px] px-4  border-solid border border-[#eee]" type="search" tabindex="0" autocorrect="off" autocapitalize="none" spellcheck="false" role="searchbox" aria-autocomplete="list" autocomplete="off" aria-label="Search">
            </div>
            <ul data-list class="max-h-[300px] overflow-scroll ">
            </ul>
      </div>
      </dd-selector>
  </div>
  <div id="dd-list" class="grid gap-x-4 md:grid-cols-3 grid-cols-1 justify-around flex-wrap hidden">
        <select data-type class="input select w-full  mb-4 md:mb-0"></select>
  </div>

</div>

