<div class="container p-4">
    <!-- TrustBox widget - Product Reviews -->
    <div class="trustpilot-widget py-8" data-locale="en-US" data-template-id="544a426205dc0a09088833c6" data-businessunit-id="5b50e9608fd8d00001d08a43" data-style-height="700px" data-style-width="100%" data-theme="light" data-sku="{{ product.selected_or_first_available_variant.sku }}" data-review-languages="en" data-no-reviews="hide">
        <a href="https://www.trustpilot.com/review/procompression.com" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->
</div>

{% schema %}
{
  "name": "Product Reviews",
  "tag": "section",
  "presets": [
    {
      "name": "Product Reviews"
    }
  ]
}
{% endschema %}